@model IEnumerable<CarModels_API_Rajnish.Models.Car>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="text-white" asp-action="Create">Create New</a>
</p>
<table class="table text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarBrand.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarCategory.Name)
            </td>
            <td>
                <a class="text-white" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a class="text-white" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a class="text-white" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
